@import "tailwindcss";

html,
body {
  /* @apply bg-white dark:bg-black; */
  height: 100vh;
  width: 100vw;
}

:root { /* Default to dark mode */
  --link-color: rgb(197, 49, 123);
}

.dark {
  --primary-text-color: #c8cee3; 
  --secondary-button-color: var(--indigo-2);
  --subheading-color: var(--indigo-11);
  --subheading2-color: var(--indigo-8);
  --highlighted-color: var(--blue-9);
}

.light {
  --primary-text-color: #0a0d33;
  --secondary-button-color: #42467a;
  --subheading-color:rgb(60, 65, 165);
  --subheading2-color: rgb(20, 25, 121);
  --highlighted-color: var(--crimson-9);
}
